.fundo {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(var(--secundaria) 25%, var(--principal)100%);
}

.fundo .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastro-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    height: 70%;
    width: 80%;
    background-color: black;
    border-radius: var(--borda);
}

.cadastro-box .titulo {
    font-size: var(--medium);
    font-weight: bold;
    padding-bottom: 1%;
}
.cadastro-box-tudo{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cadastro-box-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.cadastro-box-img img {
    width: 70%;
}

.cadastro-campos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 100%;
}

.campo input{
    width: 70%;
    padding: 12px;
    border-radius: var(--borda);
    background-color: var(--gray);
    color: white;
    border: 0px solid white;
    text-align: center;
}

.msg-erro {
    font-size: var(--small);
    color: rgb(255, 87, 120);
}

.cadastro-campos .campo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 20%;
    width: 100%;
}

.cadastro-box .msg-erro {
    height: 10%;
}

.cadastro-box .registro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 100%;
    padding-bottom: 2%;
}

.login-box .msg-cadastre-se {
    font-size: var(--small);
}

.login-box .msg-cadastre-se a:hover{
    color: var(--secundaria);
}
