:root {
    --margem-partes: 64px;
}

/* BANNER - Começo */

.banner {
    width: 100%;
    height: 80%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(var(--secundaria), var(--principal));
}

.banner .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.fundo-banner {
    width: 100%;
    height: 75%;
    background-color: black;
    border-radius: var(--raio);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo {
    font-weight: bold;
    font-size: var(--large);
    width: 100%;
}

.fundo-banner .registro {
    width: fit-content;
}

.fundo-banner .registro .botao-cadastro {
    font-size: x-large;
}

.botao-cadastro:hover+.imagem-ame-botao {
    filter: brightness(130%);
}

.registro:hover+.botao-cadastro {
    background-color: white;
}

.box1 {
    padding: 48px;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.box1 .registro {
    position: relative;
}

.box1 .registro .imagem-ame-botao {
    position: absolute;
    right: -35%;
}

.box1 .registro img {
    width: 100px;
    position: relative;
}

.box2 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagem-banner {
    height: 100%;
    border-radius: 0px var(--borda) var(--borda) 0px;
}

/* BANNER - Fim */

/* SOCIAL - Começo */

.social {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fundo1 {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.parte1,
.parte2 {
    height: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.parte1 .box4 {
    align-items: flex-end;
}

.tag-titulo {
    border-radius: var(--raio);
    padding: 12px;
    height: fit-content;
    width: fit-content;
    background-color: var(--principal);
    font-weight: bold;
    color: black;
}

.box3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    height: 100%;
    width: 40%;
}

.texto-desc {
    font-size: var(--medium);
    font-weight: var(--peso);
    color: var(--subtexto)
}

.box4 {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imagem-social {
    border-radius: 50%;
    height: 100%;
}

.parte2 .tag-titulo {
    background-color: var(--secundaria);
}

.parte2 .box3 .titulo {
    color: black;
}

.parte2 .box3 .texto-desc {
    color: black;
}

.box-image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    background-color: black;
    padding: 12px;
    border-radius: var(--borda);
}

.parte2 .box4 {
    width: 53%;
    position: relative;
    z-index: 0;
    cursor: default;
}

.imagem-ame-1 {
    position: absolute;
    left: -15%;
    bottom: -4%;
    height: 65%;
    z-index: 1;
}

.item-lista {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    background-color: black;
    border-radius: var(--borda);
    margin-bottom: 12px;
}

.status-barra {
    height: 100%;
    width: 1%;
    border-radius: var(--borda) 0px 0px var(--borda);
    ;
}

.item-legenda {
    width: 99%;
    background-color: black;
    padding: 2.5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 12px;
    border-radius: var(--borda);
}

.item-legenda .anime-imagem,
.item-legenda .anime-nome,
.item-legenda .anime-nota,
.item-legenda .anime-status {
    border-right: 2px solid var(--gray);
    padding: 2.5px;
    font-weight: normal;
}

.item-legenda .anime-eps {
    justify-content: center;
}

.anime-imagem {
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.anime-nome {
    width: 43.5%;
}

.anime-nota {
    width: 10%;
    font-weight: bold;
    text-align: center;
}

.anime-status {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.anime-eps {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.add {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: var(--secundaria);
    color: black;
}

.check {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: var(--completo);
    color: white;
}

.anime-status-cor,
.add,
.check {
    margin-right: 5px;
    margin-left: 5px;
    width: 16px;
    height: 16px;
    border-radius: 100%;
}

.item-fim {
    background-color: black;
    -webkit-mask-image: linear-gradient( rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0)90%);
    -webkit-mask-repeat: no-repeat;
}

.assistindo {
    background-color: var(--assistindo);
}

.completo {
    background-color: var(--completo);
}

.dropado {
    background-color: var(--dropado);
}

.anime-info {
    width: 97%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}

.anime-info img {
    height: 100%;
    padding-right: 5px;
}

.fundo2 {
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(var(--principal), var(--secundaria));
}

.post {
    height: 77%;
    width: 70%;
    padding: 3%;
    border-radius: var(--borda);
    background-color: var(--gray);
    font-size: x-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.post-body {
    height: 60%;
}

.imagem-ame-2 {
    height: 50%;
    position: absolute;
    bottom: -10%;
    right: -5%;
}

.post-perfil {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}

.post-imagem {
    height: 100%;
    background-color: var(--secundaria);
    border-radius: 50%;
    margin-right: 2%;
}

.post-nome-arroba {
    display: flex;
    flex-direction: row;
    width: 85%;
    align-items: baseline;
}

.post-nome {
    margin-right: 2%;
}

.post-arroba {
    color: gray;
}

.post-texto {
    margin-bottom: 2%;
}

.post-anime {
    height: 15%;
    width: 100%;
    font-size: var(--normal);
    margin-bottom: 5%;
    color: gray;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.post-anime-info span {
    margin-left: 1%;
} 

.post-anime-info {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post-anime-info img {
    height: 100%;
    margin-right: 2%;
}

.post-feedback {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    width: 100%;
}

.post-feedback .fa-thumbs-up,
.post-feedback .fa-thumbs-down, 
.num-likes, .num-dislikes{
    padding: 0 1% 0 1%;
}

.num-likes, .num-dislikes{
    font-size: var(--medium);
    margin-right: 2%;
}

.post-feedback .fa-thumbs-down,
.num-dislikes {
    color: gray;
}

.post-feedback .fa-thumbs-up,
.num-likes {
    color: var(--secundaria);
}

.fundo3 {
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(var(--secundaria), var(--principal));
}

.fundo3 .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fundo3 .fundo-banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: var(--borda);
} 

.fundo3 .fundo-banner .box2{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.fundo3 .fa-user-plus {
    font-size: var(--large);
}

.fundo3 .fundo-banner .titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2%;
    padding-top: 1%;
}

.fundo3 .ame-rocket {
    position: absolute;
    top: -10%;
    left: -5%;
    z-index: 100;
    height: 50vh;
    transform: rotateY(180deg) rotate(-30deg);
}

.fundo3 .arco-esquerda {
    position: absolute;
    height: 35vh;
    z-index: 50;
    left: -38%;
    top: 30%;
    transform: rotateX(180deg) rotate(-20deg);
    
}

.fundo3 .arco-direita{
    position: absolute;
    z-index: 50;
    height: 45vh;
    bottom: -10vh;
    right: -30%;
    transform: rotate(180deg);
}


/* SOCIAL - Fim */