:root {
    /* CORES */
    --fundo: black;
    --gray: rgb(44, 44, 44);
    --subtexto: rgb(165, 165, 165);
    --principal: #E3FF00;
    --secundaria: #BAD1FC;

    --msg-erro: rgb(255, 87, 120);

    --completo: #2f4a96;
    --assistindo: #60ba37;
    --dropado: #992233;
    --planejo: rgb(188, 188, 188);

    /* FONTES */
    --fonte-principal: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --large: 48px;
    --x-medium: 32px;
    --medium: 20px;
    --normal: 16px;
    --small: 12px;
    --peso: 430;

    /* TAMANHOS */
    --borda: 3px;
    --borda-fina: 1px;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: var(--fundo);
    color: white;

    font-family: var(--fonte-principal);
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    width: 80%;
    height: 100%;
}



/* HEADER - Começo */

.header {
    font-weight: var(--peso);
    width: 100%;
    height: 9vh;
    font-size: var(--normal);

    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: var(--fundo);
    border-bottom: var(--borda) solid var(--fundo);
}

.header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 13%;
    cursor: pointer;
}

.navBar {
    height: 100%;
    list-style: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 45%;
}

.navBar li {
    height: 100%;
}

.navItem {
    height: 100%;
    padding:  0 18px 0 18px ;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

.navItem:hover {
    color: var(--secundaria);
    border-bottom: var(--borda) solid var(--secundaria);
}

.aqui {
    font-weight: bolder;
    color: var(--principal);
    border-bottom: var(--borda) solid var(--principal);
}

.registro {
    width: 18%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.registro .linha {
    background-color: var(--gray);
    width: 2px;
    height: 30px;
}

.registro .botao-cadastro,
.registro .botao-login,
.botao-logout{
    padding: 8px 18px 8px 18px;
    
    text-decoration: none;
    text-align: center;
    border: 0;
    border-radius: var(--borda);
    font-weight: bold;
    cursor: pointer;
}

.botao-cadastro, .botao-logout {
    background-color: var(--secundaria);
    color: black;
    transition: 0.3s;
}

.botao-cadastro:hover, .botao-login:hover, .botao-logout:hover {
    background-color: white;
}

.botao-login {
    background-color: var(--principal);
    color: black;
    transition: 0.3s;
}

/* header2 - começo */


.perfil-info {
    height: 100%;
    width: 18%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    position: relative;
    cursor: pointer;
}

.perfil-info .perfil-img {
    height: 36px;
    width: 36px;
    margin-right: 5%;
}

.perfil-info:hover .perfil-logout {
    display: flex;
}

.perfil-logout {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: var(--borda);
    background-color: var(--gray);
    position: absolute;
    top: 100%;
    z-index: 100;
}

.ame-special {
    border-radius: 50%;
    background-color: var(--secundaria);
}

/* header2 - fim */

/* HEADER - Fim */

/* FOOTER - Começo */

.footer {
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer .container ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 2%;
    border-bottom: 2px solid var(--gray);
}

.footer .container ul a{
    transition: 0.3s;
}

.footer .container ul a:hover{
    text-decoration: underline;
    color: var(--secundaria);
}

.footer .container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2%;
}

.footer .container span {
    color: var(--gray);
    padding: 2%;
}

/* FOOTER - Fim */

/* CORES */
.Assistindo {
    background-color: var(--assistindo);
}

.Completo {
    background-color: var(--completo);
}

.Dropado {
    background-color: var(--dropado);
}

.Planejo {
    background-color: var(--planejo)
}

/* ALERTA - Começo */

.alerta {
    position: fixed;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 100;
    top: 2%;
    background-color: var(--gray);
    color: white;
    text-align: center;
    padding: 5vh;
    transition: 0.3s;
    font-size: large;
    border-radius: var(--borda);
}

.alerta img{
    margin-right: 1vw;
}

.imgPerfil {
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}



