.banner {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(var(--secundaria),var(--principal));
}

.banner .container{
    padding: 13.5vh 0 13.5vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#minhalista_pagina {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

/* LISTA LOGADO - Começo */

.lista-tudo {
    width: 100%;
}

.lista-tudo .titulo {
    width: 100%;
    font-size: var(--large);
    color: black;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid black;
    padding-bottom: 2vh;
    margin-bottom: 2vh;
}

/* ITENS - Começo */
.item-lista {
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    background-color: black;
    border-radius: var(--borda);
    margin-bottom: 12px;
}

.status-barra {
    height: 100%;
    width: 0.5%;
    border-radius: var(--borda) 0px 0px var(--borda);
    ;
}

.anime-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.anime-info img {
    height: 100%;
    padding-right: 5px;
}

.item-legenda {
    width: 100%;
    background-color: black;
    padding: 2.5px 0 2.5px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    border-radius: var(--borda);
    font-weight: normal;
}

.item-legenda .anime-nome,
.item-legenda .anime-nota,
.item-legenda .anime-status {
    border-right: 2px solid var(--gray);
}

.item-legenda .anime-imagem {
    border-right: 2px solid var(--gray);
    padding:  2.5px;
}

.item-legenda .anime-eps {
    justify-content: center;
}

.anime-imagem {
    width: 6.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.anime-nome {
    width: 43.5%;
    padding-left: 5px;
}

.anime-nota {
    width: 10%;
    font-weight: bold;
    text-align: center;
}

.anime-status {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.anime-eps {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.anime-info .anime-nome {
    width: 43.5%;
}

.add {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: var(--secundaria);
    color: black;
}

.check {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: var(--completo);
    color: white;
}

.anime-status-cor,
.add,
.check {
    margin-right: 5px;
    margin-left: 5px;
    width: 16px;
    height: 16px;
    border-radius: 100%;
}
