.banner {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(var(--secundaria),var(--principal));
    background-attachment: fixed;
    background-size: cover;
}

.banner .container{
    padding: 13.5vh 0 13.5vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#minhalista_pagina {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* LISTA LOGADO - Começo */

.lista-tudo {
    width: 100%;
}

.lista-tudo .titulo {
    width: 100%;
    font-size: var(--large);
    color: var(--principal);
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 2vh;
    padding-top: 2vh;
    background-color: rgba(0, 0, 0, 0.5);
    border-top: 5px solid black;
    border-radius: var(--borda);
}

.navStatus {
    width: 100%;
    height: 8vh;
    list-style: none;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
    border-radius: var(--borda);
    font-weight: normal;
    border-bottom: 3px solid black;
}

.statusItem {
    padding: 0 5% 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    height: 100%;
    border-bottom: 3px solid black;
}

.statusItem:hover {
    cursor: pointer;
    color: var(--secundaria);
    border-bottom: 3px solid var(--secundaria);
}

/* ITENS - Começo */
.item-legenda {
    width: 100%;
    background-color: black;
    padding: 2.5px 0 2.5px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vh;
    border-radius: var(--borda);
    font-weight: normal;
}

.item-lista {
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-between;
    border-radius: var(--borda);
    margin-bottom: 1vh;
}

.status-barra {
    height: 100%;
    width: 0.5%;
    border-radius: var(--borda) 0px 0px var(--borda);
}

.item-legenda .anime-imagem,
.item-legenda .anime-nota,
.item-legenda .anime-eps {
    border-right: 2px solid var(--gray);
    border-left: 2px solid var(--gray);
}

.item-legenda .anime-genero {
    border-left: 2px solid var(--gray);
}

.anime-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.anime-imagem {
    width: 6.5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.anime-imagem img{
    height: 100%;
}

.anime-nome {
    width: 35%;
    padding-right: 1vw;
    padding-left: 1vw;
    word-wrap: break-word;
}

.anime-nota {
    width: 8%;
    font-weight: bold;
    text-align: center;
}

.anime-status {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18%;
}

.anime-eps, .anime-tipo {
    width: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.anime-genero {
    width: 16%;
    display: flex;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
    text-align: center;
}

.add {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secundaria);
    color: black;
}

.check {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: var(--completo);
    color: white;
}

.anime-status-cor,
.add,
.check {
    margin-right: 5px;
    margin-left: 5px;
    width: 16px;
    height: 16px;
    border-radius: 100%;
}

.continuar-lista {
    width: 100%;
    height: 5vh;
    margin-bottom: 2vh;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--borda);
    transition: 0.3s;
}

.continuar-lista .fa-angle-down {
    font-size: var(--x-medium);
}

.continuar-lista:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}