:root {
    --linha-titulo: white;
    --borda-fina: 1px;
}

.fundo-perfil {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(var(--secundaria),var(--principal));
}

.fundo-perfil .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 13.5vh 0 13.5vh 0;
}

/* ESQUERDA - Começo */

.esquerda-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 22%;
}

.esquerda-perfil-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--fundo);
    width: 90%;
    height: 70vh;
    padding: 5%;
    border-radius: var(--borda);
}

.esquerda-perfil-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 40%;
}

.esquerda-perfil-img {
    width: 65%;
    border-radius: 50%;
}

.esquerda-perfil-nome{
    font-size: var(--medium);  
    font-weight: bold;  
}

.esquerda-perfil-arroba {
    font-size: var(--normal);
    color: gray;
}

.esquerda-perfil-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 45%;
}

.esquerda-perfil-details .titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--medium);
    width: 100%;
    border-top: var(--borda-fina) solid var(--linha-titulo) ;
    padding-top: 5%;
    padding-bottom: 5%;
}

.esquerda-perfil-details .titulo span{
    margin-top: 1%;
    color: var(--secundaria);
}

.esquerda-perfil .fa-bookmark,
.esquerda-perfil .fa-eye,
.esquerda-perfil .fa-star-half-stroke{
    font-size: medium;
}

#total_animes, #total_eps, #nota_media{
    font-weight: lighter;

}

/* ESQUERDA - Fim */

/* DIREITA - Começo */

.direita-perfil {
    width: 75%;
    margin: 0 0 0 2%;
    background-color: var(--fundo);
    border-radius: var(--borda);
    padding: 2%;
}

.direita-perfil-animes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
}

.direita-perfil-animes .titulo {
    width: 100%;
    font-size: var(--x-medium);
    font-weight: bold;
    text-align: left;
    padding-bottom: 2vh;
    margin-bottom: 2vh;
    border-bottom: var(--borda-fina) solid var(--linha-titulo)
}

.bloco-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.statusAnimes, .listaResumo {
    width: 46%;
    height: 50vh;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statusAnimes {
    justify-content: flex-start;
}

.listaResumo {
    justify-content: flex-start;
}

#listaResumo {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.statusAnimes .titulo,
.listaResumo .titulo {
    font-size: var(--medium);
    font-weight: normal;
}

.listaResumo .titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.listaResumo .titulo a {
    font-size: var(--normal);
    color: gray;
    transition: 0.3s;
}

.listaResumo .titulo a:hover {
    color: white;
    text-decoration: underline;
}

/* BARRA STATUS - Começo */

.barraStatus {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 3%;
    background-color: white;
    border-radius: var(--borda);
}

.barraDentro, .barraDentroEsq, .barraDentroDir {
    width: 25%;
    height: 100%;
}

.barraDentroEsq {
    border-top-left-radius: var(--borda);
    border-bottom-left-radius: var(--borda);
}

.barraDentroDir {
    border-top-right-radius: var(--borda);
    border-bottom-right-radius: var(--borda);
}

/* BARRA STATUS - Fim */
/* STATUS NUM - Começo */

.bola {
    border-radius: 50%;
    width: 3vh;
    height: 3vh;
    margin-right: 5px;
}

.statusNum {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.statusParte1 {
    height: 80%;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.statusBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 40%;
    font-size: var(--medium);
}

.statusBox span {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#num_Assistindo,
#num_Completo,
#num_Dropado,
#num_Planejo {
    font-size: var(--x-medium);
    font-weight: bold;
}



/* STATUS NUM - Fim */
/* LISTA RESUMO - Começo */

.item-lista {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    border-radius: var(--borda);
    margin-bottom: 12px;
}

.anime-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    width: 80%;
    height: 94%;
}

.anime-details-pt2 {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: lighter;
}

.status-barra {
    height: 100%;
    width: 1%;
    border-radius: var(--borda) 0px 0px var(--borda);
}

.anime-nome {
    width: 100%;
    word-wrap: break-word;
}

.anime-nota {
    width: 20%;
    font-weight: lighter;
    text-align: left;
}

.anime-progresso {
    width: 25%;
}

.anime-nota span,
.anime-eps span {
    font-weight: bold;
    width: 100%;
}

.anime-status {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 15%;
    background-color: white;
    border-radius: var(--borda);
}

.anime-status-cor {
    height: 100%;
    width: 50%;
    border-radius: var(--borda);
}

.anime-eps {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.anime-eps span{
    display: flex;
    align-items: center;
    justify-content: right;
}

.add {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: var(--secundaria);
    color: black;
}

.check {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: var(--completo);
    color: white;
}

.add,
.check {
    margin-right: 5px;
    margin-left: 5px;
    width: 16px;
    height: 16px;
    border-radius: 100%;
}

.anime-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}

.anime-info img {
    height: 100%;
    padding-right: 5px;
}

/* LISTA RESUMO - Fim */