.banner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner .container span {
    padding-bottom: 2%;
    font-size: var(--medium);
}

.banner .container img {
    width: 20%;
    margin-bottom: 2%;
}

.banner .registro {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SOCIAL */

.social {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6.75vh;
    padding-bottom: 13.5vh;
}

.social .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.pesquisa {
    width: 100%;
    height: 10vh;
    margin-bottom: 10vh;
}

.caixa-pesquisa {
    background-color: black;
    height: 100%;
    width: 96%;
    padding: 0 2% 0 2%;
    border-radius: var(--borda);

    border: 1px solid white;
    color: white;
    font-size: var(--medium);
    font-weight: bold;
    text-align: start;
    word-wrap: break-word;
}

.anime-raia {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 6.75vh;
}

.titulo {
    width: 100%;
    font-size: var(--x-medium);
    font-weight: bold;
    text-align: left;
    padding-bottom: 2vh;
    margin-bottom: 2vh;
    border-bottom: var(--borda-fina) solid
}

.anime-seq {
    width: 100%;
    display: flex;
    align-items: top;
    justify-content: flex-start;
}

.item-seq {
    width: 13.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2vh;
    cursor: pointer;
}

.imagem-item {
    height: 30vh;
    margin-bottom: 1vh;
}

.imagem-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 18vh;
}

.nome-item {
    width: 100%;
    height: 75%;
    text-align: center;
    word-wrap: break-word;
}

.num-item {
    width: 100%;
    height: 15%;
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nota-item {
    width: 40%;
    text-align: left;
    color: var(--principal);
}

.pessoas-item {
    width: 50%;
    text-align: right;
}