.banner {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(var(--secundaria), var(--fundo))

}

.banner .container, .fundo-banner {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
} 

.fundo-banner {
    width: 100%;
}

.fundo-banner span {
    height: 100%;
    display: flex;
    align-items: center;
}

#contem_banner_anime {
    position: relative;
}

.imagem-banner {
    height: 80%;
    /* box-shadow: 0 0 48px 20px rgb(0, 0, 0, 0.3); */
}

.botao-banner {
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 50%;
    padding: 12px;
}

.botao-banner:hover {
    cursor: pointer;
    background-color: var(--principal);
}