/* BANNER - Começo */

.banner {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient( var(--secundaria), var(--principal));
}

.banner .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.fundo-banner {
    width: 100%;
    height: 75%;
    background-color: black;
    border-radius: var(--raio);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo {
    font-weight: bold;
    font-size: var(--large);
    width: 100%;
}

.fundo-banner .registro {
    width: fit-content;
}

.fundo-banner .registro .botao-cadastro {
    font-size: x-large;
}

.box1 {
    padding: 48px;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.box2 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imagem-banner {
    height: 100%;
    box-shadow: inset 10px 10px 10px 10px black;
}

/* BANNER - Fim */

/* SOCIAL - Começo */

.social {
    height: 100%;
    width: 100%;
}

.tag-titulo {
    padding: 12px;
    background-color: var(--principal);
    font-weight: bold;
    color: black;
}

.box3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

