:root {
    /* CORES */
    --fundo: black;
    --gray: rgb(44, 44, 44);
    --subtexto: rgb(165, 165, 165);
    --principal: #E3FF00;
    --secundaria: #BAD1FC;

    --assistindo: #58bb2b;
    --completo: #2f4a96;
    --dropado: #ad263a;

    /* FONTES */
    --fonte-principal: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --large: 48px;
    --medium: 20px;
    --normal: 16px;
    --small: 12px;
    --peso: 430;

    /* TAMANHOS */
    --raio: 3px;
    --borda: 3px;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: var(--fundo);
    color: white;

    font-family: var(--fonte-principal);
}

a {
    text-decoration: none;
    color: white;
}

.container {
    width: 80%;
    height: 100%;
}

.header {
    font-weight: var(--peso);
    width: 100%;
    height: 9%;
    font-size: var(--normal);

    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: var(--fundo);
    border-bottom: var(--borda) solid var(--fundo);
}

.header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 13%;
}

.navBar {
    height: 100%;
    list-style: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 45%;
}

.navBar li {
    height: 100%;
}

.navItem {
    height: 100%;
    padding:  0 18px 0 18px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aqui {
    font-weight: bolder;
    color: var(--principal);
    border-bottom: var(--borda) solid var(--principal);
}

.registro {
    width: 18%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.registro .linha {
    background-color: var(--gray);
    width: 2px;
    height: 30px;
}

.registro a {
    padding: 8px 18px 8px 18px;

    text-decoration: none;
    text-align: center;
    border-radius: var(--raio);
    font-weight: bold;
}

.botao-cadastro {
    background-color: var(--secundaria);
    color: black;
    transition: 0.3s;
}

.botao-cadastro:hover, .botao-login:hover {
    background-color: white;
}

.botao-login {
    background-color: var(--principal);
    color: black;
    transition: 0.3s;
}

.footer {
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .container {
    height: 100%;
}

.footer .container ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
}